

.body {

background-color: blue;

}
.all{
    background-image: url("bg.jpg");
}
.bg{
    background-color: rgba(49, 153, 250, 1);

}

.mapp {
    margin: left;

    



}
.HomeBt{
    background-color: rgba(49, 153, 250, 1);

    
  
}

.emailborther{
    text-align: center;

        background-color: black;
        padding: 5%;
}
.LoginData{
    margin: auto;
    width: 50%;
    border: 5px solid white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

    
    
}

.login{

    text-align: center;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}
svg
{
	width: 0;
	height: 0;
}
.foto{
    display: flex;
    justify-content: center;
	margin: 0;
	padding: 0;
	animation: animate 20s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}

.BodyBack {

    margin: auto;
    width:fit-content;
    border: 5px solid white;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 30vh;
    background-color: rgb(12, 181, 233);
}

.MedicsContent {
    margin: auto;
    width: 50%;
    border: 5px solid white;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 30vh;

}

.data {

background-color:rgba(49, 153, 250, 1) ;

}

.Button2 {

    
  
  
  

    width:fit-content;
    text-align: center;
    align-items: center;
    display: flex;
}