

.body {

background-color: blue;

}

.bg2{


	background: linear-gradient(-45deg, #ee7752, #0400ff, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}


.bg3{


	background: linear-gradient(-45deg, #ffffff, #3403a7, #00bbff, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.all{
    background-image: url("bg.jpg");
}
.bg{
    background-color: rgba(49, 153, 250, 1);

}

.mapp {
    margin: left;

    



}
.HomeBt{
    background-color: rgba(49, 153, 250, 1);

    
  
}

.emailborther{
    text-align: center;

        background-color: black;
        padding: 5%;
}
.LoginData{
    margin: auto;
    width: 50%;
    border: 5px solid white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
    
}


.Copiado{

    margin: auto;
    display: flex;
    width: fit-content;

}

.bodyback2{




    border: 2px solid white;

    padding-top: 5%;
    text-align: center;
    width: 20%;    
    vertical-align: center;
    margin-top: -05%;

 
height: fit-content;

    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.CreatemedicBt {

    margin: auto;
    text-align: center;
  width: 50%;

  margin-left: 40%;
    
margin-top: -35%;
  
    
}




.login{

    text-align: center;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
svg
{
	width: 0;
	height: 0;
}
.foto{
    position: fixed; /* or absolute */
    top: 5%;
    left: 50%;
    opacity: 0.3;
    justify-content: center;
	margin: 0;
	padding: 0;
    animation: animate 20s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
@keyframes animate
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}

.BodyBack {

    margin: auto;
    width:fit-content;
    border: 5px solid white;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 30vh;
    background-color: rgb(12, 181, 233);
}

.MedicsContent {
    margin: auto;
    width: 50%;
    border: 5px solid white;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 30vh;

}

.data {

background-color:rgba(49, 153, 250, 1) ;

}

.Button2 {

    
  
  
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width:fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    
}